.card{
    width: 560px;
    height: 450px;
    top: 55%;
    left:50%;
    position:absolute;
    box-sizing: border-box;
    padding: 31px 40px;
    border: 1px solid black; 
    transform: translate(-50%,-50%);
    background: lightgreen;
    color: black;
}